.desktopNav,
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer {
  justify-content: space-between;
}

@media (max-width: 800px) {
  .desktopNav {
    display: none;
  }
}

@media (min-width: 800px) {
  .smallNav {
    display: initial;
  }
}

.navItem {
}

.productCart {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 6px;
}
.productCart img {
  height: 28px;
}
.productCartNumber {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: 13px;
}

.productCartNumber {
  position: absolute;
}
